body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}

.main-sidebar {
    position: fixed;
    /* Keeps the sidebar fixed on the left */
    top: 0;
    left: 0;
    padding-top: 50px;
    height: 100vh;
    /* Full height of the viewport */
    width: 230px;
    background: #1E1E1E;
    z-index: 810;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}

.main-header {

    padding: 10px;
    background: #F1F1F1;

    height: 50px;
    display: flex;
    align-items: center;


}

.main-conatiner {
    margin-left: 230px;
    /* This ensures the content is next to the sidebar */
    width: calc(100% - 230px);
    /* Full width minus the width of the sidebar */
}

.add-sale {
    color: #0C3959;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 20px;
}

.location-container {
    width: 205px;
    /* padding: 3px; */
    /* height: 25.39px; */
    background: white;
    border-radius: 85.02px;
    border: 0.73px #0C3959 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.all-location {
    color: black;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    padding-right: 58px
}

.all-location_1 {
    color: black;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    padding-right: 20px
}

.blue-container {
    width: 37.27px;
    margin: 0;
    padding: 6px;
    /* height: 25.39px; */
    background: #0C3959;
    border-radius: 141.02px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.saveas-btn {
    background: white;
    border-radius: 6px;
    border: 1px #C9C9C9 solid;
    padding: 8px;
    margin-left: 10%;
}

.saveas-btn-text {
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}

/* customer details */

.customer-details-main-container {
    /* height: 170px; */
    background: #DBF0FF;
    border-radius: 9px;
    padding: 20px;
}

.customer-details-main-container_2 {
    height: 100px;
    background: #DBF0FF;
    border-radius: 9px;
    overflow: hidden;
    /* display: block; */
    max-height: 0px;
    margin-top: 12px;
    transition: max-height 0.5s ease-out;
    /* padding: 20px; */
}

.customer-details-main-container_2.show {
    max-height: 500px;

}

.button-container {
    position: relative;
    display: inline-block;
}

.test-company {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background: #0C3959;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.dialog-box {
    display: none;
    position: absolute;
    bottom: -23px;
    left: 133px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: max-content;
    z-index: 20;
}

.button-container:hover .dialog-box,
.dialog-box:hover {
    display: block;
}

.sub_sub_address {
    font-size: 12px;
    color: gray;
    padding-top: 10px;
}

.sub {
    text-align: end;
}

.sub-txt {
    font-size: 12px;
    color: rgb(0, 0, 0);

    font-weight: 700;
}

/* searchboxwithdropdownicon */
.search-container {
    position: relative;
    /* width: 300px; */
}

#searchBox {
    width: 100%;
    padding-left: 33px;
    /* Space for the search icon */
    padding-right: 30px;
    /* Space for the dropdown arrow */
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    /* padding: 8px; */
    color: #646464;
    font-size: .7rem;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

#searchBox:hover,
#searchBox:focus {
    border-color: blue;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7f3ed;
    min-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.dropdown-content.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.dropdown-content .drop_one {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .drop_one:hover {
    background-color: #dbcdcd96;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #0C3959;
    pointer-events: none;
}

.text-customer-p {
    font-size: 14px;
    font-weight: 500;
    line-height: 0;
    margin-top: 8px;
}

.text-customer-p-p {
    font-size: 12px;
    line-height: 0;
}


/* searchboxwithdropdownicon */
.search-container_1 {
    position: relative;
    /* width: 300px; */
}

#searchBox_1 {
    width: 100%;
    padding: 7px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    /* padding: 8px; */
    color: #646464;
    font-size: .7rem;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

#searchBox_1:hover,
#searchBox_1:focus {
    border-color: blue;
    outline: none;
}

.dropdown-content_1 {
    display: none;
    position: absolute;
    background-color: #e7f3ed;
    min-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.dropdown-content_1.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.dropdown-content_1 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_1 a:hover {
    background-color: #f1f1f1;
}

.search-icon_1 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #000;
    font-weight: bold;
}

.dropdown-arrow_1 {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #0c395956;
    pointer-events: none;
    border-left: 2px solid black;
    height: 10px;
    /* Adjust the height as needed */

}

.dropdown-arrow_1_1 {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    color: #0c395956;
    color: #646464;
    font-size: .8rem;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word
}

.vertical-line {
    border-left: 1px solid rgba(0, 0, 0, 0.411);
    height: 18px;
    margin-left: 35px;
    /* padding-left: 0px; */
    padding-right: 8px;
}

.subhead-text {
    color: #0C3959;
    font-size: .9rem;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}


textarea {
    width: 100%;
    height: 57px;
    background: white;
    border-radius: 3.11px;
    border: none;
    /* Remove the default border */
    resize: none;
    /* Prevent resizing if needed */
    padding: 8px;
    /* Add some padding for text */
    box-sizing: border-box;
    /* Ensure padding doesn't affect the width/height */
}

.searchBox-address {
    width: 95%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    padding: 0;
    color: #646464;
    font-size: 0.7rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 10px;
    text-align: left;
    /* Ensure text is aligned to the left */
    resize: none;
    /* Prevent the textarea from being resizable (optional) */
}

.searchBox-address:hover,
.searchBox-address:focus {
    border-color: blue;
    outline: none;
}


/* Invoice Details............... */
.invoice-container {
    width: 100%;
    /* height: 70px; */
    background: #F1F1F1;
    border-radius: 9px;
    padding: 20px;
}

.subtext_1 {
    width: 100%;
    color: #646464;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;

}

.ctm-input {
    width: 100%;
}




#searchBox_invoice {
    width: 95%;
    padding-left: 12px;
    /* padding-right: 30px; */
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    /* padding: 8px; */
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

#searchBox_invoice:hover,
#searchBox_invoice:focus {
    border-color: blue;
    outline: none;
}


/* Box DropDown */

.custom-search-container {
    position: relative;
    width: 95%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container:hover,
.custom-search-container:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select {
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}

/* Box DropDown */


/* Box dropdown other details */

.custom-search-container_9 {
    position: relative;
    width: 95%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_9:hover,
.custom-search-container_9:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_9 span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content_9 {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content_9.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content_9 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content_9 a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow_9 {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select_9 {
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow_9.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}

/* second container dropdown */


/* Box dropdown other details */

.custom-search-container_8 {
    position: relative;
    width: 95%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_8:hover,
.custom-search-container_8:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8 span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content_8 {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content_8.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content_8 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content_8 a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow_8 {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select_8 {
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow_8.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}


/* third container dropdown */


/* Box dropdown other details */

.custom-search-container_8_7 {
    position: relative;
    width: 95%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_8_7:hover,
.custom-search-container_8_7:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8_7 span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content_8_7 {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content_8_7.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content_8_7 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content_8_7 a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow_8_7 {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select_8_7 {
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow_8_7.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}

/* third container dropdown */
.custom-search-container_8_7_77 {
    position: relative;
    width: 95%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_8_7_77:hover,
.custom-search-container_8_7_77:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8_7_77 span {
    flex: 1;
    /* Take up available space */
}




.custom-search-container_8_7_77_0 {
    position: relative;
    width: 99%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    height: 100px;
    align-items: center;

}

.test-area {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


.custom-search-container_8_7_77_0:hover,
.custom-search-container_8_7_77_0:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8_7_77_0 span {
    flex: 1;
    /* Take up available space */
}

/* Box dropdown other details */

.custom-search-container_8_7_7 {
    position: relative;
    width: 95%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_8_7_7:hover,
.custom-search-container_8_7_7:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8_7_7 span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content_8_7_7 {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content_8_7_7.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content_8_7_7 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content_8_7_7 a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow_8_7_7 {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select_8_7_7 {
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow_8_7_7.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}


/* Box DropDown _ 4 */

.custom-search-container_4 {
    position: relative;
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_4 :hover,
.custom-search-container_4 :focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_4 span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content_4 {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content_4.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content_4 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content_4 a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow_4 {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select_4 {
    color: #646464;
    font-size: .7rem;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow_4.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}

.other-header {
    width: 100%;

    background: #F1F1F1;
    border-radius: 9px
}

/* other data */


/* Box DropDown */
.dis {
    color: black;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;

}

/* excel sheet */
.discount-box {
    width: 100%;
    /* height: 208px; */
    background: #F1F1F1;
    border-radius: 3px;
    padding: 20px;
}

/* excel sheet */
.discount-box_2 {
    width: 100%;

    border-radius: 3px;
    padding: 20px;


    background: #DBF0FF;

}

.discount-box_2 .sub {

    color: #0C3959;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word"

}

.discount-box_2 .sub_1 {

    color: #0C3959;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}

/* invoice tem */

/* Box dropdown other details */

.custom-search-container_8_7_1 {
    position: relative;
    width: 25%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_8_7_1:hover,
.custom-search-container_8_7_1:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8_7_1 span {
    flex: 1;
    /* Take up available space */
}

.custom-dropdown-content_8_7_1 {
    display: none;
    position: absolute;
    top: 100%;
    /* Position it directly below the container */
    left: 0;
    background-color: white;
    width: 100%;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.custom-dropdown-content_8_7_1.show {
    display: block;
    max-height: 200px;
    /* Adjust based on content */
}

.custom-dropdown-content_8_7_1 a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content_8_7_1 a:hover {
    background-color: #f1f1f1;
}

.custom-dropdown-arrow_8_7_1 {
    font-size: 10px;
    color: #030303;
    pointer-events: none;
    margin: 0px 0px 0px 10px;
}

.customer_select_8_7_1 {
    color: #646464;
    font-size: 9px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.custom-dropdown-arrow_8_7_1.up {
    transform: rotate(-180deg);
    /* Rotate the icon when the dropdown is open */
}

/* third container dropdown */
.custom-search-container_8_7_777 {
    position: relative;
    width: 89%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 33px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.custom-search-container_8_7_777:hover,
.custom-search-container_8_7_777:focus {
    border-color: blue;
    outline: none;
}

.custom-search-container_8_7_77 span {
    flex: 1;
    /* Take up available space */
}

.total-amt {
    color: #0C3959;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word
}

.shiping-details {
    width: 100%;
    /* height: 208px; */
    background: #F1F1F1;
    border-radius: 3px;
    padding: 10px;
}



/* media querys */
@media screen and (max-height: 1400px) {
    .vertical-line {
        border-left: 1px solid rgba(0, 0, 0, 0.411);
        height: 18px;
        margin-left: 20px;
        /* padding-left: 0px; */
        padding-right: 8px;
    }

    .searchBox-address {
        width: 95%;
        height: 100px;
        padding-left: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
        padding: 0;
        color: #646464;
        font-size: 0.7rem;
        font-family: Poppins, sans-serif;
        font-weight: 400;
        word-wrap: break-word;
        margin-top: 10px;
        text-align: left;
        /* Ensure text is aligned to the left */
        resize: none;
        /* Prevent the textarea from being resizable (optional) */
    }

    .searchBox-address:hover,
    .searchBox-address:focus {
        border-color: blue;
        outline: none;
    }
}



td {
    border: 1px solid black;
}




/* scroll bar container */
.scrollable-container {

    width: 100%;
    overflow-y: auto;

}

/* Custom Scrollbar */
.scrollable-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
    background: #f1f1f1;

    /* Background of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;

    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded edges for the thumb */
    border: 2px solid #f1f1f1;
    /* Adds a border around the thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color on hover */
}

td i.bi {
    margin-right: 2px;
    /* Adjust spacing as needed */
    vertical-align: middle;
}